/* customized styling */
:root {
    --red:rgb(237, 141, 141);
    --green:rgb(174, 218, 174);
}

.item-link a {
    color: black;
    font-weight: 400;
}

.avail-equip {
    background-color: var(--green);
}

.checked-out-equip {
    background-color: var(--red);
}