/* customized styling */

.item-link a {
    color: black;
    font-weight: 400;
}

.avail-equip {
    background-color: rgb(237, 141, 141);
}

.checked-out-equip {
    background-color: rgb(174, 218, 174)
}